tensorflow==2.18.0 # It requires the python image that has version >= 3.9 eg. python:3.10-slim-buster
pandas 
numpy 
notebook
matplotlib
seaborn
nltk
regex
scikit-learn
from-root
google-cloud-storage
fastapi
uvicorn
Jinja2
-e .